/* .col-lg-4 .comment {
    width: 558px;
    border-style: groove;
    margin-left: 257px;
    border: 124px;
    border-color: rgb(201, 195, 195) 1px solid;
    margin-bottom: 30px;
}

.col-lg-4 {
    width: 558px;
    border-style: groove;
    margin-left: 257px;
    border: 124px;
    border-color: rgb(201, 195, 195) 1px solid;
    margin-bottom: 30px;
}

.pic {
    width: 48px;
    height: 46px;
    margin-right: 5px;
    border-radius: 76px;
}

.post-create {
    height: 36px;
    width: 440px;
    border-radius: 30px;
    text-align: center;
}

.form-control {
    height: 36px;
    width: 440px;
    border-radius: 30px;
}

.like-img {
    height: 40px;
    margin-right: 5px;
}

.comment-input {
    height: 36px;
    width: 337px;
    margin-right: 5px;
    border-radius: 11px;
}

.comment-img {
    border-radius: 76px;
    width: 48px;
    height: 46px;
    margin-right: 5px;
}

.post-image {
    width: 558px;
    height: 476px;
    margin-right: 5px;


} */